<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Superheroes app</title>
</head>
<body>
	<table>
		<tr>
			<th>Heroe</th>
			<th>Nivel de Poder</th>
		</tr>
		<%@session[:heroes].each do |heroe|%>
		<tr>
			<td><%= heroe.nombre %></td>
			<td><%= heroe.nivelDePoder %></td>
		</tr>
		<%end%>
	</table>
</body>
</html>