<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Crear nuevo heroe</title>
</head>
<body>
	<form action="/heroes" method="post">
		<div>
			<label>nombre:</label>
			<input type="text" name="nombre" id="nombre">
		</div>
		<div>
			<label for="nivelDePoder">Nivel de Poder</label>
			<input type="text" name="nivelDePoder" id="NivelDePoder">
		</div>
		<input type="submit" value="Agregar heroe">
	</form>
</body>
</html>